.modal-cart {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
  cursor: pointer;
  overflow: hidden;
}

.modal-cart__open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}


.modal-cart__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  transform: translateX(50%);
  max-height:100%;
  width: 1050px;
  background-color: #eee;
top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}

.modal-cart__lots-container {
width: 100%;
height: 100%;
}

.modal-cart__checkbox-all {
  position: absolute;
  left: 42px;
  top: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-cart__checkbox-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  transition: box-shadow 0.3s ease;
}

.modal-cart__checkbox-all:hover::before {
  box-shadow: 0 0 25px rgb(174, 32, 148);
}

.modal-cart__title {
  text-align: center;
  width: 100%;
  color: #8f247c;
  padding: 20px 0;
  font-size: 24px;
  text-decoration: underline;
}

.modal__close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 5px;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: width 0.8s ease, height 0.8s ease;
}

.modal__close :hover {
 width: 28px;
 height: 28px;
}

.modal__close-img {
  width: 20px;
  height: 20px;
}

.modal-cart__lots {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  width: 96%;
  height: 240px;
  border: 1px solid #8f247c;
  margin: 20px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.modal-cart__lots:hover {
  box-shadow: 0 0 25px rgb(174, 32, 148);
}

.modal-cart__checkbox {
  display: block;
  position: relative;
  width: 30px;
  margin: 20px;
  top: -20px;
  cursor: pointer;
  border: 1px solid #000;
  transition: box-shadow 0.3s ease;
}

.modal-cart__checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 85px;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  transition: box-shadow 0.3s ease;
}



.modal-cart__checkbox:hover::before {
  box-shadow: 0 0 25px rgb(174, 32, 148);
}

.modal-cart__lots-img {
  position: relative;
  width: 148px;
  height: 148px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}



.modal-cart__discription-container {
  display: block;
  position: relative;
  width: 500px;
}

.modal-cart__name {
  display: block;
  text-indent: 3em;
  align-items: center;
  color: #8f247c;
  margin-top: 10px;
  padding-bottom: 10px;
}

.modal-cart__discription {
  display: inline-flex;
  position: absolute;
  font-family: Fira Sans, serif;
  font-size: 16px;
  padding-bottom: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-line {
  display: block;
  position: absolute;
  width: 1px;
  height: 180px;
  background-color: black;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.modal-cart__price {
  display: inline-flex;
  position: relative;
  margin-top: 25px;
left: 160px;
}

.modal-cart__btn-buy {
  display: block;
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 90px;
  right: 50px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #8f247c;
  font-family: Fira Sans, serif;
  font-size: 21px;
  padding: 10px 20px;
  transition: box-shadow 0.3s ease;
}

.modal-cart__btn-buy:hover {
  box-shadow: 0 0 25px rgb(174, 32, 148);
}

.button-counter__container {
  display: flex;
  position: absolute;
justify-content: space-between;
align-items: center;
font-family: Fira Sans, serif;
font-size: 21px;
font-weight: 600;
  bottom: 40px;
  right: 72px;
  width: 100px;
  height: 30px;
  color: #8f247c;
}

.button-counter__minus, .button-counter__plus {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #8f247c;
  font-size: 20px;
  color: #8f247c;
  background-color: #b5b5b5;
}


.lots-remainder {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 140px;
  font-family: Fira Sans, serif;
font-size: 16px;
flex-wrap: nowrap;
}

.lots-remainder__number {
  font-weight: 600;
  color: #f00;
  padding: 0 5px;
}

.modal-cart__price-container {
  display: flex;
  position: relative;
  padding: 30px;
  height: 100px;
  align-items: center;
}

.modal-cart__all-price-title {
  display: block;
  font-family: Fira Sans, serif;
  font-size: 21px;
  align-items: center;
  padding-right: 10px;
}

.modal-cart__all-price {
  color: #ff0000;
  font-family: Fira Sans, serif;
  font-size: 28px;
  text-decoration: underline;
  padding-right: 30px;
}

.modal-cart__buy-all-btn {
  border: none;
  color: #fff;
  background-color: #8f247c;
  font-family: Fira Sans, serif;
  font-size: 21px;
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.modal-cart__buy-all-btn:hover {
  box-shadow: 0 0 25px rgb(174, 32, 148);
}

